@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.highlight {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 10px; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
#disqus_thread {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border: 3px black solid;
  border-radius: 15px; }

.video-container iframe {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.container {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  padding-top: 14px;
  width: 75%;
  margin: auto;
  min-height: 640px;
  height: auto; }
  .container p > img {
    margin: auto;
    display: block;
    border: 7px black solid; }

.photo-credit-caption {
  font-size: 12px;
  text-align: center; }

.top-box-texture-yellow {
  height: 70px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, #fdff65, #969800), center no-repeat #fdff65 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, #fdff65, #969800), center no-repeat #fdff65 scroll; }

.top-box-texture-green {
  height: 70px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, #54ff42, #0b7500), center no-repeat #54ff42 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, #54ff42, #0b7500), center no-repeat #54ff42 scroll; }

.top-box-texture-red {
  height: 70px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, #ff6666, #990000), center no-repeat #ff6666 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, #ff6666, #990000), center no-repeat #ff6666 scroll; }

.top-box-texture-blue {
  height: 70px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, #18fff6, #007e79), center no-repeat #18fff6 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, #18fff6, #007e79), center no-repeat #18fff6 scroll; }

.top-box-texture-purple {
  height: 70px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, #f5b1e0, #7d105c), center no-repeat #f5b1e0 scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, #f5b1e0, #7d105c), center no-repeat #f5b1e0 scroll; }

.top-box-text {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Francois One", sans-serif; }

.body-texture {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), -webkit-linear-gradient(180deg, white, #686868), center no-repeat white scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/rough_diagonal.png"), linear-gradient(180deg, white, #686868), center no-repeat white scroll;
  width: 100%;
  margin: 0px;
  padding: 0px; }

.splash-wrapper {
  display: block;
  margin: auto; }
  .splash-wrapper img {
    border: 5px black solid;
    border-radius: 7px;
    margin: auto;
    display: block;
    padding: 0; }

.low-box {
  margin: 0px;
  padding: 0px;
  clear: both; }
  .low-box .low-box-wrapper {
    position: relative;
    color: white;
    font-size: 0.7em;
    line-height: 1.5em;
    top: 125px;
    margin: auto;
    max-width: 35em;
    text-align: center;
    font-weight: 100;
    font-family: "Roboto Slab", serif; }
  .low-box img {
    width: 100%;
    height: 130px;
    bottom: -5px;
    vertical-align: bottom; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em) {
    .accordion-tabs {
      border-radius: 3px;
      border: 1px solid gainsboro; } }
  .accordion-tabs .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      @media screen and (max-width: 40em) {
        .accordion-tabs .tab-header-and-content:first-child .tab-link {
          border-top: 0; } }
    @media screen and (max-width: 40em) {
      .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; } }
  .accordion-tabs img {
    border: 7px black solid; }
  .accordion-tabs .image-box-left {
    float: left;
    margin-right: 20px; }
  .accordion-tabs .image-box-right {
    float: right;
    margin-left: 20px; }
  .accordion-tabs .text-box-right {
    margin-left: 277px; }
  .accordion-tabs li {
    margin: 10px 0; }
  .accordion-tabs .tab-link {
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid gainsboro;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em;
    text-decoration: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-link {
        display: inline-block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 0; } }
    .accordion-tabs .tab-link:hover {
      color: #477DCA; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      background-color: rgba(247, 247, 247, 0.5); }
      @media screen and (min-width: 40em) {
        .accordion-tabs .tab-link.is-active {
          background-color: rgba(247, 247, 247, 0.5);
          border: 1px solid gainsboro;
          border-bottom-color: rgba(247, 247, 247, 0.5);
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: rgba(247, 247, 247, 0.5);
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-content {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid gainsboro;
        float: left; } }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: default;
  margin: 0 1em 1.5em 1em;
  position: relative;
  position: relative; }
  .card .card-image {
    overflow: hidden;
    max-height: 150px; }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%; }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em; }
    .card .card-header a {
      text-decoration: none; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    background-color: white; }
    .card:focus .card-image img, .card:hover .card-image img {
      background: #e2daac; }
    .card:focus .card-header, .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f6f6f6; }
    .card:active .card-header {
      background-color: #f6f6f6; }

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid gainsboro;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 3px;
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 100%; }
  .progress-bar > span.meter {
    -webkit-animation: progress 0.7s linear infinite;
    -moz-animation: progress 0.7s linear infinite;
    animation: progress 0.7s linear infinite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #477DCA;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: 1px solid #2c5999;
    border-radius: 2px;
    display: block;
    height: 100%;
    width: 60%; }

@-webkit-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-moz-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-ms-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-o-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
.stats-wrapper {
  position: relative;
  padding: 0;
  text-align: center; }

.stats {
  padding: 0.75em;
  display: inline-block;
  margin: auto; }
  .stats ul {
    padding: 0; }
  .stats li {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    color: #6f99d5;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.1em;
    padding: 0 0.7em; }
    .stats li:first-child {
      padding-left: 0; }
    .stats li:last-child {
      border-right: 0; }
  .stats span {
    color: #333;
    display: block;
    font-size: 0.7em;
    font-weight: normal; }

.centered-navigation {
  /* menu font color ! */
  background-color: #000;
  border-bottom: 1px solid black;
  min-height: 60px;
  width: 100%;
  z-index: 9999;
  font-family: "Francois One", sans-serif;
  margin-bottom: 0px; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #FFF; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #000;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #FFF; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .centered-navigation ul.submenu li a {
        background-color: black;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #000;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

body {
  margin: 0px;
  padding: 0px;
  min-width: 860px; }

/*# sourceMappingURL=tremulaes.css.map */

/*# sourceMappingURL=tremulaes.css.map */
