$width: 300px;
$border: 5px;
$clip: $width + $border;

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-wrapper {
  padding: 20px;
  height: 100%;
  position: relative;
  .portfolio-list {
    @extend %full-fill;
    height: $width;
    width: $width;
    margin: auto;
    background-color: $accent-pri;

    &::before, &::after {
      content: '';
      @extend %full-fill;
      margin: -$border;
      border: $border solid $accent-sec;
      -webkit-animation: snake 6s linear infinite;
    }
    &::before {
      animation-delay: -3s;
    }
    &:hover::before, &:hover::after {
      background-color: rgba($accent-sec, 0.3)
    }
  } 
}

@-webkit-keyframes snake {
  0%, 100% {
    -webkit-clip-path: inset($clip 0 0 0);
    clip-path: inset($clip 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 0 0 $clip);
    clip-path: inset(0 0 0 $clip);
  }
  50% {
    -webkit-clip-path: inset(0 0 $clip 0);
    clip-path: inset(0 0 $clip 0);
  }
  75% {
    -webkit-clip-path: inset(0 $clip 0 0);
    clip-path: inset(0 $clip 0 0);
  }
}