// Colour boxes

.color-container {
  display: flex;
  background-color: white;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  max-width: 360px;
  color: $black;
  font-family: $font-copy;
}

.color {
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 5px 5px;
  padding: 4px;
}

.light-text {
  color: $white;
}

.primary {
  background-color: $primary;
}

.pri-light {
  background-color: $pri-light; 
}

.pri-dark {
  background-color: $pri-dark;
}

.accent-pri {
  background-color: $accent-pri;
}

.accent-sec {
  background-color: $accent-sec;
}

.accent-tri {
  background-color: $accent-tri;
}

.white {
  background-color: $white;
}

.gray {
  background-color: $gray;
}

.black {
  background-color: $black;
}

/*  HTML For color palette

<div class='color-container'>
    <div class="color primary">Primary</div>
    <div class="color pri-light">Light Primary</div>
    <div class="color pri-dark">Dark Primary</div>
    <div class="color accent-pri light-text">Primary Accent</div>
    <div class="color accent-sec light-text">Secondary Accent</div>
    <div class="color accent-tri">Third Accent</div>
    <div class="color white">Light Text</div>
    <div class="color gray">Gray</div>
    <div class="color black light-text">Dark Text</div>
</div>   */
