// Attempts at responsiveness

$extra-small-width: 540px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin xs {
  @media (max-width: #{$extra-small-width}) {
    @content
  }
}

@mixin sm {
  @media (min-width: #{$extra-small-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Colors

$lime: #D1E633;
$grapefruit: #FE4323;
$lemon: #FEF533;
$orange: #F7B502;
$orange-dark: #F97400;
$blue-bonnet: #1826AB;

$primary: $orange;
$pri-light: $lemon;
$pri-dark: $orange-dark;
$accent-pri: $grapefruit;
$accent-sec: $blue-bonnet;
$accent-tri: $lime;
$white: #F5F5F5;
$gray: #CCCCCC;
$black: #2c2c2c;

// Fonts

$font-header: 'Amaranth', sans-serif;
$font-copy: 'Titillium Web', sans-serif;

// Layout

html, body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// Dividers

.action-divider {
  margin: 0 auto;
  padding-top: 0.25em;
  font-family: $font-header;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $accent-sec;
  background-color: $pri-dark;
  hr {
    position: relative;
    top: 0.9em;
    padding: 0;
    border: none;
    box-shadow: 0 0 0 2px $accent-sec, 0 4px 0 2px $pri-light;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  span {
    position: relative;
    display: inline-block;
    top: -0.15em;
    font-size: 2.5em;
    padding: 0 0.25em;
    background: $pri-dark;
    transition: all 0.2s ease-out;
  } 
  &:hover hr {
    box-shadow: 0 -8px 0 2px $pri-light, 0 14px 0 2px $accent-sec;
  }
  &:hover span {
    color: $pri-light;
    letter-spacing: 5px;
  }
}

// Buttons

.button, button {
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: $font-header;
  letter-spacing: 1px;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  transition: background 0.1s ease, color 0.1s linear;
  border-color: $accent-sec;
  color: $accent-sec;
  &:hover {
    background: $accent-sec;
    color: #fff;
  }
}

// Animation

@-webkit-keyframes hor-spinner {
  0%{
    transform: rotateY(0deg);
    text-shadow: 0px 0px $accent-pri;
  }
  25% {
    transform: rotateY(90deg);
    text-shadow: 3px 0px $accent-pri,6px 0px $accent-pri,9px 0px $accent-pri,12px 0px $accent-pri,15px 0px $accent-pri,15px 0px $accent-pri;
  }
  50% {
    transform: rotateY(180deg);
    text-shadow: 0px 0px $accent-pri;
  }
  75% {
    transform: rotateY(90deg);
    text-shadow: -3px 0px $accent-pri,-6px 0px $accent-pri,-9px 0px $accent-pri,-12px 0px $accent-pri,-15px 0px $accent-pri;
  }
  100% {
   transform: rotateY(360deg);
   text-shadow: 0px 0px $accent-pri;
  }
}
@-moz-keyframes hor-spinner {
  0%{
    transform: rotateY(0deg);
    text-shadow: 0px 0px $accent-pri;
  }
  25% {
    transform: rotateY(90deg);
    text-shadow: 3px 0px $accent-pri,6px 0px $accent-pri,9px 0px $accent-pri,12px 0px $accent-pri,15px 0px $accent-pri,15px 0px $accent-pri;
  }
  50% {
    transform: rotateY(180deg);
    text-shadow: 0px 0px $accent-pri;
  }
  75% {
    transform: rotateY(90deg);
    text-shadow: -3px 0px $accent-pri,-6px 0px $accent-pri,-9px 0px $accent-pri,-12px 0px $accent-pri,-15px 0px $accent-pri;
  }
  100% {
   transform: rotateY(360deg);
   text-shadow: 0px 0px $accent-pri;
  }
}
@-o-keyframes hor-spinner {
  0%{
    transform: rotateY(0deg);
    text-shadow: 0px 0px $accent-pri;
  }
  25% {
    transform: rotateY(90deg);
    text-shadow: 3px 0px $accent-pri,6px 0px $accent-pri,9px 0px $accent-pri,12px 0px $accent-pri,15px 0px $accent-pri,15px 0px $accent-pri;
  }
  50% {
    transform: rotateY(180deg);
    text-shadow: 0px 0px $accent-pri;
  }
  75% {
    transform: rotateY(90deg);
    text-shadow: -3px 0px $accent-pri,-6px 0px $accent-pri,-9px 0px $accent-pri,-12px 0px $accent-pri,-15px 0px $accent-pri;
  }
  100% {
   transform: rotateY(360deg);
   text-shadow: 0px 0px $accent-pri;
  }
}
@keyframes spin-loop {
  0%{
    transform: rotateY(0deg);
    text-shadow: 0px 0px $accent-pri;
  }
  25% {
    transform: rotateY(90deg);
    text-shadow: 3px 0px $accent-pri,6px 0px $accent-pri,9px 0px $accent-pri,12px 0px $accent-pri,15px 0px $accent-pri,15px 0px $accent-pri;
  }
  50% {
    transform: rotateY(180deg);
    text-shadow: 0px 0px $accent-pri;
  }
  75% {
    transform: rotateY(270deg);
    text-shadow: -3px 0px $accent-pri,-6px 0px $accent-pri,-9px 0px $accent-pri,-12px 0px $accent-pri,-15px 0px $accent-pri;
  }
  100% {
   transform: rotateY(360deg);
   text-shadow: 0px 0px $accent-pri;
  }
}



