// Attempts at responsiveness

$extra-small-width: 540px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin xs-size {
  @media (max-width: #{$extra-small-width}) {
    @content
  }
}

@mixin sm-size {
  @media (min-width: #{$extra-small-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin md-size {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin lg-size {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Colors

$lime: #D1E633;
$grapefruit: #FE4323;
$lemon: #FEF533;
$orange: #F7B502;
$orange-dark: #F97400;
$blue-bonnet: #1826AB;

$primary: $orange;
$pri-light: $lemon;
$pri-dark: $orange-dark;
$accent-pri: $grapefruit;
$accent-sec: $blue-bonnet;
$accent-tri: $lime;
$white: #F5F5F5;
$gray: #CCCCCC;
$black: #2c2c2c;

// Fonts

$font-header: 'Amaranth', sans-serif;
$font-copy: 'Titillium Web', sans-serif;

// setup

html, body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// Buttons

.button, button {
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: $font-header;
  letter-spacing: 1px;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  transition: background 0.1s ease, color 0.1s linear;
  border-color: $accent-sec;
  color: $accent-sec;
  &:hover {
    background: $accent-sec;
    color: #fff;
  }
}
